.main-content {
            flex: 1;
            padding: 30px;
            display: block;
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
            padding: 20px;
        }

        .header h1 {
             margin: 0;
             font-size: 28px; /* Tamanho da fonte do título */
             font-weight: 600; /* Peso da fonte */
            color: #202020; /* Cor escura para o título */
        }

        .header-actions {
            display: flex;
            gap: 15px;
            color: #666;
        }

        .header-actions span {
            cursor: pointer;
        }

        .header-actions a{
        text-decoration: none;
        color: #3498DB; /* Cor azul para o link 'Sair' */
     font-weight: 500;
            font-size: 15px;
        }
        /* Stats Cards */
        .stats-grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 20px;
            margin-bottom: 40px;
            box-shadow: 10px 10px 10px 10px color rgb(0, 0, 0);
        }

        .stat-card {
            background: #9c9c9c;
            border-radius: 8px;
            padding: 20px;
            color: white;
            position: relative;

        }

        .stat-card.warning {
            background: #b8860b;
            
        }

        .stat-card .icon {
            width: 24px;
            height: 24px;
            margin-bottom: 10px;
        }

        .stat-card .value {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 4px;
        }

        .stat-card .label {
            font-size: 12px;
            opacity: 0.9;
        }